body {
  height: 100vh;
  background-color: #e3d5ca;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100%;
  background-color: #c2847a;
  min-width: 55rem;
  margin: 0 auto;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 3rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  display: grid;
  grid-template-columns: 1fr min-content min-content min-content;
  padding: 1rem;
  background-color: #fbfbff;
  border-radius: 3rem;

  &:last-of-type {
    margin-bottom: 1rem;
  }

  .complete-by {
    white-space: nowrap;
    margin-right: 0.5rem;
    color: #d5bdaf;
  }

  .complete-date {
    margin-right: 0.5rem;

    &::webkit-calendar-picker-indicator {
      color: pink;
    }
  }
}

.add-item {
  border-radius: 3rem;
  padding: 0.75rem 1rem;
  border: none;
  width: 100%;
  max-width: 20rem;
  transition: background-color 0.24s ease-in-out;

  &:hover {
    background-color: #f8edeb;
  }

  &:focus {
    outline: none;
  }
}

.remove-item {
  border: none;
  border-radius: 3rem;
  background-color: #a07178;
  color: white;
  transition: background-color 0.24s ease-in-out;

  &:hover {
    color: black;
    background-color: #d5bdaf;
    box-shadow: 0 0 10px #cfd2cd;
  }
}

label {
  position: relative;
}

.tick-box {
  z-index: 99;
  position: absolute;
  inset: 0;
  opacity: 0;
}

.task {
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    border-radius: 3rem;
    border: 1px solid #d5bdaf;
    vertical-align: middle;
    background-color: white;
    transition: background-color 0.24s ease-in-out;
    pointer-events: none;
  }

  &:hover::before {
    background-color: #f8edeb;
  }

  &::after {
    content: "";
    display: none;
    width: 3px;
    height: 8px;
    border: solid #000;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    left: 7px;
    pointer-events: none;
  }
}

.tick-box:checked + .task {
  &:before {
    background-color: pink;
  }

  &:after {
    display: inline-block;
  }
}

h4 {
  margin: 1rem 0 0 0;
  color: white;
}

@media (max-width: 1025px) {
  .App {
    min-width: 33rem;
  }
}

@media (max-width: 650px) {
  .App {
    min-width: auto;
  }
}

@media (max-width: 575px) {
  .list-item {
    .date {
      grid-column-start: 1;
    }
    .remove-item {
      grid-row-start: 1;
      grid-column-start: 2;
    }
  }
  .add-item {
    max-width: 16rem;
  }
}
